@keyframes underline {
  100% {
    width: 100%; } }

@keyframes opac {
  100% {
    opacity: 1; } }

@keyframes opac2 {
  100% {
    opacity: .9; } }

a {
  text-decoration: none;
  color: black; }

.hamb, .hamburger {
  width: 35px;
  height: 35px;
  background: transparent; }

.underline, .section-footer .footer-link::after, .nav-group .main-nav .nav-list .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 3em;
  width: 2em;
  height: 2px;
  transition: .5s all; }

.hamburger {
  z-index: 20;
  transition: all .5s;
  position: fixed;
  top: 7%;
  right: 15%;
  display: block; }
  .hamburger .hamburger-dash {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    transition: all .5s; }
    .hamburger .hamburger-dash:nth-of-type(2) {
      margin: 9.5px 0; }

.heading-content .heading {
  display: inline-block; }
  .heading-content .heading .heading-part {
    display: block;
    text-align: right; }

.stroke {
  letter-spacing: -3px;
  display: inline-block;
  padding: .2em; }

.section-footer {
  text-transform: uppercase;
  font-weight: bold; }
  .section-footer .footer-link {
    display: block;
    width: 8em;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .section-footer .footer-link::after {
      top: 1.5em;
      background: black; }
    .section-footer .footer-link:hover::after {
      width: 3em;
      left: 2.5em; }

.opacity {
  opacity: 0; }

.rot1 {
  -ms-transform-origin: right center;
      transform-origin: right center;
  -ms-transform: rotate(-45deg) translate(-0.5px);
      transform: rotate(-45deg) translate(-0.5px); }

.rot2 {
  -ms-transform-origin: right center;
      transform-origin: right center;
  -ms-transform: rotate(45deg) translate(0.5px);
      transform: rotate(45deg) translate(0.5px); }

.move-nav {
  -ms-transform: translateX(150%);
      transform: translateX(150%); }

.hidden {
  display: none; }

.centering, .nav-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.content-container {
  width: 70%;
  margin: 0 auto;
  padding: 14vmin 0; }

.section-header {
  text-align: center;
  font-size: 3.375em;
  text-transform: uppercase;
  padding-bottom: 5%; }
  @media only screen and (max-width: 768px) {
    .section-header {
      font-size: 2.25em; } }
  @media only screen and (max-width: 399px) {
    .section-header {
      font-size: 1.5em; } }

.main-header {
  width: 100%;
  height: 100vh;
  background: url("../pic/header-high.jpg");
  background-size: auto;
  position: relative;
  z-index: 10;
  color: white;
  font-size: 1em; }
  @media only screen and (max-width: 1699px) {
    .main-header {
      font-size: .8em; } }
  @media only screen and (max-width: 1439px) {
    .main-header {
      font-size: .7em; } }
  @media only screen and (max-width: 1247px) {
    .main-header {
      font-size: .6em; } }
  @media only screen and (max-width: 768px) {
    .main-header {
      font-size: .4em; } }
  .main-header::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  .main-header .header-parts {
    width: 70%;
    height: 90%;
    position: relative;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase; }

.heading-group {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .heading-group .logo {
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    padding: 5px;
    width: 55px;
    height: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center; }
  .heading-group .main-heading {
    font-size: 5.0625em; }
    .heading-group .main-heading .heading-words_folio {
      padding-left: 2.45em;
      position: relative; }
      .heading-group .main-heading .heading-words_folio::before {
        content: "";
        width: 2.85em;
        height: .077em;
        background: white;
        position: absolute;
        left: .07em;
        top: 45%; }
    .heading-group .main-heading .heading-words {
      font-weight: bold; }
      .heading-group .main-heading .heading-words:nth-of-type(2) {
        padding: .4em 0; }
      .heading-group .main-heading .heading-words .crossed-through {
        font-weight: 100;
        display: inline-block;
        position: relative; }
        .heading-group .main-heading .heading-words .crossed-through::after {
          content: "";
          width: 100%;
          height: .03em;
          background: white;
          position: absolute;
          left: 0;
          top: 57%; }

.nav-group {
  position: fixed;
  right: 15%;
  top: 5%;
  height: 90%;
  width: 35%;
  transition: all .5s; }
  @media only screen and (max-width: 1023px) {
    .nav-group {
      background: #404142;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%; } }
  .nav-group .main-nav {
    font-size: 2.25em; }
    @media only screen and (max-width: 1023px) {
      .nav-group .main-nav {
        font-size: 3.375em; } }
    .nav-group .main-nav .nav-list {
      margin-top: 1em;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media only screen and (max-width: 639px) {
        .nav-group .main-nav .nav-list {
          -ms-flex-direction: column;
              flex-direction: column; } }
      .nav-group .main-nav .nav-list .nav-item {
        width: 8em;
        height: 6em;
        line-height: 6em;
        display: inline-block;
        text-align: center;
        position: relative; }
        .nav-group .main-nav .nav-list .nav-item .nav-link {
          color: white;
          display: block; }
          .nav-group .main-nav .nav-list .nav-item .nav-link::after {
            bottom: 2em;
            background: white; }
          .nav-group .main-nav .nav-list .nav-item .nav-link:hover::after {
            width: 3em;
            left: 2.5em; }

.social-icons {
  width: 250px; }
  .social-icons .social-item {
    width: 18px;
    margin-right: 20px;
    display: inline-block; }
    .social-icons .social-item .social-link .social-img {
      height: 18px; }

.about-me {
  background: #F7F7F1; }

.cv-container {
  position: relative; }
  .cv-container .my-photo {
    width: 60%; }
  .cv-container .cv {
    font-family: Times New Roman;
    width: 40%;
    height: 24%;
    padding: .5%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 1.5em;
    line-height: 1.3; }
    .cv-container .cv .roll-up {
      color: blue;
      position: absolute;
      bottom: 0%;
      right: 0; }

.gallery-container {
  position: relative;
  display: -ms-flexbox;
  display: flex; }
  .gallery-container .gallery-part {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .gallery-container .gallery-part .img-height {
      height: 26vmin; }
    .gallery-container .gallery-part .img-less {
      width: 60%; }
    .gallery-container .gallery-part .img-more {
      width: 90%; }
    .gallery-container .gallery-part .img-container {
      position: relative; }
      .gallery-container .gallery-part .img-container .portfolio-item {
        position: absolute;
        left: -5%;
        top: 5%; }
        .gallery-container .gallery-part .img-container .portfolio-item .portfolio-title {
          font-weight: bold; }
        .gallery-container .gallery-part .img-container .portfolio-item .portfolio-subtitle {
          text-transform: uppercase; }
      .gallery-container .gallery-part .img-container .portfolio-photo {
        display: block;
        width: 100%; }

.section-footer {
  position: relative; }
