@keyframes underline {
  100% {
    width: 100%; } }

@keyframes opac {
  100% {
    opacity: 1; } }

@keyframes opac2 {
  100% {
    opacity: .9; } }

a {
  text-decoration: none;
  color: black; }

.hamb, .hamburger {
  width: 38px;
  height: 38px;
  background: transparent; }

.underline, .section-footer .footer-link::after, .nav-group .main-nav .nav-list .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 2em;
  height: 2px;
  transition: .5s all; }

.hamburger {
  z-index: 20;
  transition: all .5s;
  position: fixed;
  top: 8.5%;
  right: 15%;
  display: block;
  padding: 12px; }
  .hamburger .hamburger-dash {
    display: block;
    width: 100%;
    height: 5px;
    background: white;
    transition: all .5s; }
    .hamburger .hamburger-dash:nth-of-type(2) {
      margin: 9.5px 0; }

.heading-content .heading {
  display: inline-block; }
  .heading-content .heading .heading-part {
    display: block;
    text-align: right; }

.stroke {
  letter-spacing: -3px;
  display: inline-block;
  padding: .2em; }

.logo {
  color: white;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase; }

.logo-small {
  width: 55px;
  height: 55px;
  height: 55px;
  line-height: 55px;
  border: 2.5px solid white;
  font-size: 20px; }

.logo-big {
  width: 70px;
  height: 70px;
  height: 70px;
  line-height: 70px;
  border: 4px solid white;
  font-size: 22px; }

.section-footer {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin-top: 1em; }
  .section-footer .footer-link {
    display: block;
    width: 12em;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .section-footer .footer-link::after {
      top: 1.5em;
      background: black;
      left: 5em; }
    .section-footer .footer-link:hover::after {
      width: 3em;
      left: 4.5em; }

.opacity {
  opacity: 0; }

.rot1 {
  -ms-transform-origin: right center;
      transform-origin: right center;
  -ms-transform: rotate(-45deg) translate(-2px);
      transform: rotate(-45deg) translate(-2px); }

.rot2 {
  -ms-transform-origin: right center;
      transform-origin: right center;
  -ms-transform: rotate(45deg) translate(0.1px);
      transform: rotate(45deg) translate(0.1px); }

.move-nav {
  -ms-transform: translateX(150%);
      transform: translateX(150%); }

.hidden {
  display: none; }

.centering, .nav-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.content-container {
  width: 70%;
  margin: 0 auto;
  padding: 14vmin 0; }

.section-header {
  text-align: center;
  font-size: 3.375em;
  text-transform: uppercase;
  padding-bottom: 5%; }
  @media only screen and (max-width: 768px) {
    .section-header {
      font-size: 2.25em; } }
  @media only screen and (max-width: 399px) {
    .section-header {
      font-size: 1.5em; } }

.main-header {
  width: 100%;
  height: 100vh;
  background: url("../pic/header-high.jpg");
  background-size: auto;
  position: relative;
  z-index: 10;
  color: white;
  font-size: 1em;
  background: url("../pic/background.jpg"); }
  @media only screen and (max-width: 1699px) {
    .main-header {
      font-size: .8em; } }
  @media only screen and (max-width: 1439px) {
    .main-header {
      font-size: .7em; } }
  @media only screen and (max-width: 1247px) {
    .main-header {
      font-size: .6em; } }
  @media only screen and (max-width: 768px) {
    .main-header {
      font-size: .4em; } }
  @media only screen and (max-width: 519px) {
    .main-header {
      font-size: .3em; } }
  .main-header .header-parts {
    width: 70%;
    height: 85%;
    position: relative;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase; }

.heading-group {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .heading-group .main-heading {
    font-size: 5.0625em;
    transition: all 2s;
    padding-left: 0; }
    @media only screen and (max-width: 1023px) {
      .heading-group .main-heading {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; } }
    .heading-group .main-heading .heading-words_folio {
      padding-left: 2.45em;
      position: relative; }
      .heading-group .main-heading .heading-words_folio::before {
        content: "";
        width: 2.85em;
        height: .077em;
        background: white;
        position: absolute;
        left: .07em;
        top: 45%; }
    .heading-group .main-heading .heading-words {
      font-weight: bold; }
      .heading-group .main-heading .heading-words:nth-of-type(2) {
        padding: .4em 0; }
      .heading-group .main-heading .heading-words .crossed-through {
        font-weight: 100;
        display: inline-block;
        position: relative; }
        .heading-group .main-heading .heading-words .crossed-through::after {
          content: "";
          width: 100%;
          height: .03em;
          background: white;
          position: absolute;
          left: 0;
          top: 57%; }

.header-image {
  width: 50%;
  height: 100%;
  background: url("../pic/dance-white.svg") 60% 53% no-repeat;
  background-size: 15%; }
  @media only screen and (max-width: 768px) {
    .header-image {
      display: none; } }

.nav-group {
  position: fixed;
  right: 15%;
  top: 8.5%;
  height: 85%;
  width: 30%;
  transition: all .5s; }
  @media only screen and (max-width: 1023px) {
    .nav-group {
      background: #404142;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%; } }
  .nav-group .main-nav {
    font-size: 2.25em; }
    @media only screen and (max-width: 1023px) {
      .nav-group .main-nav {
        font-size: 3.375em; } }
    .nav-group .main-nav .nav-list {
      width: 16em;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media only screen and (max-width: 639px) {
        .nav-group .main-nav .nav-list {
          width: 100%;
          -ms-flex-direction: column;
              flex-direction: column; } }
      .nav-group .main-nav .nav-list .nav-item {
        width: 8em;
        height: 6em;
        line-height: 6em;
        display: inline-block;
        text-align: center;
        position: relative; }
        .nav-group .main-nav .nav-list .nav-item .nav-link {
          color: white;
          display: block; }
          .nav-group .main-nav .nav-list .nav-item .nav-link::after {
            bottom: 2em;
            background: white;
            left: 3em; }
          .nav-group .main-nav .nav-list .nav-item .nav-link:hover::after {
            width: 3em;
            left: 2.5em; }

.social-icons .social-item {
  width: 18px;
  height: 20px;
  margin-right: 22px;
  display: inline-block; }

.about-me {
  background: #F7F7F1; }

.cv-container {
  position: relative; }
  .cv-container .my-photo {
    width: 60%; }
  .cv-container .cv {
    font-family: Times New Roman;
    width: 40%;
    height: 24%;
    padding: .5%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 1.5em;
    line-height: 1.3; }
    .cv-container .cv .roll-up {
      color: blue;
      position: absolute;
      bottom: 0%;
      right: 0;
      cursor: pointer; }

.gallery-container {
  position: relative;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 1023px) {
    .gallery-container {
      display: block; } }
  .gallery-container .gallery-part_2 {
    -ms-flex-align: end;
        align-items: flex-end; }
  .gallery-container .gallery-part {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 50%;
    height: 100%; }
    .gallery-container .gallery-part .img-height {
      height: 26vmin; }
      @media only screen and (max-width: 1023px) {
        .gallery-container .gallery-part .img-height {
          display: none; } }
    @media only screen and (max-width: 1023px) {
      .gallery-container .gallery-part {
        width: 100%;
        -ms-flex-align: center;
            align-items: center; } }
  .gallery-container .gallery-part_2 {
    -ms-flex-align: end;
        align-items: flex-end; }
    @media only screen and (max-width: 1023px) {
      .gallery-container .gallery-part_2 {
        -ms-flex-align: center;
            align-items: center; } }

.gallery-part-3 {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 50%;
  height: 60%;
  top: 41%;
  right: 35%; }
  @media only screen and (max-width: 1023px) {
    .gallery-part-3 {
      position: static;
      width: 100%;
      -ms-flex-align: center;
          align-items: center; } }

.img-less {
  width: 60%; }

.img-more {
  width: 95%; }

.img-container {
  position: relative;
  transition: transform .5s;
  height: 100%; }
  .img-container:hover {
    -ms-transform: scale(1.03);
        transform: scale(1.03); }
  .img-container .portfolio-item {
    position: absolute; }
    @media only screen and (max-width: 639px) {
      .img-container .portfolio-item {
        position: static;
        margin-bottom: .5em; } }
    .img-container .portfolio-item .portfolio-title {
      font-weight: bold; }
    .img-container .portfolio-item .portfolio-subtitle {
      text-transform: uppercase; }
  .img-container .portfolio-photo {
    display: block;
    width: 100%; }
  .img-container .portfolio-png {
    position: absolute; }

.img-1 {
  margin-top: 3em; }
  .img-1 .portfolio-png {
    width: 55%;
    left: 25%; }

.img-2 .portfolio-item {
  top: 5%;
  right: -24%; }

@media only screen and (max-width: 1023px) {
  .img-2 {
    margin: 3em 0; } }

.img-3 {
  margin-top: 5em; }
  .img-3 .portfolio-png {
    width: 25%;
    left: 50%; }

.img-4 {
  margin-top: 7em; }
  .img-4 .portfolio-item {
    top: 5%;
    left: -3%; }
  @media only screen and (max-width: 1023px) {
    .img-4 {
      margin: 3em 0; } }

.img-5 {
  margin-top: 7em; }
  .img-5 .portfolio-item {
    top: 5%;
    left: -13%; }
  @media only screen and (max-width: 1023px) {
    .img-5 {
      margin: 3em 0; } }

.img-6 {
  margin-top: 3em; }
  .img-6 .portfolio-png {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 40%; }

.img-7 {
  margin-top: 2em; }
  .img-7 .portfolio-item {
    top: 42%;
    left: -13%; }
  @media only screen and (max-width: 1023px) {
    .img-7 {
      margin: 3em 0; } }

.img-8 .portfolio-item {
  bottom: 5%;
  left: -7%; }

@media only screen and (max-width: 1023px) {
  .img-8 {
    margin: 3em 0; } }

.footer-margin {
  margin-top: 10em; }
  @media only screen and (max-width: 1023px) {
    .footer-margin {
      margin-top: 0em; } }

.clients {
  background: #F7F7F1; }
  .clients .clients-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 3em; }
    @media only screen and (max-width: 559px) {
      .clients .clients-container {
        -ms-flex-direction: column;
            flex-direction: column;
        margin-top: 10%; } }
    .clients .clients-container .clients-items {
      width: 31.2%;
      height: 100%; }
      @media only screen and (max-width: 559px) {
        .clients .clients-container .clients-items {
          width: 100%; } }

.client-icon-full {
  width: 100%; }

.client-icon {
  width: 45%;
  display: block; }

.logo-margin {
  margin: 10% 0; }

.twitter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.apple {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.behance {
  margin-top: 20%; }
  @media only screen and (max-width: 559px) {
    .behance {
      margin-top: 10%; } }

.google {
  margin-left: 54%; }
  @media only screen and (max-width: 559px) {
    .google {
      margin-left: 0; } }

.blog-container {
  margin-top: 3em; }

.blog-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 5% 0; }
  .blog-items:hover .blog-pic {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }
  .blog-items:hover .blog-footer {
    font-size: 1.2em; }
  @media only screen and (max-width: 1023px) {
    .blog-items {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }
  .blog-items .blog-pic {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    transition: all .5s; }
  .blog-items .blog-long {
    width: 48%; }
    .blog-items .blog-long img {
      width: 100%; }
    @media only screen and (max-width: 1023px) {
      .blog-items .blog-long {
        width: 90%; } }
  .blog-items .blog-short {
    width: 30%; }
    .blog-items .blog-short img {
      width: 100%; }
    @media only screen and (max-width: 1023px) {
      .blog-items .blog-short {
        width: 70%; } }
  .blog-items .blog-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .blog-items .blog-flex .blog-png {
      display: block;
      width: 50%; }
      @media only screen and (max-width: 1023px) {
        .blog-items .blog-flex .blog-png {
          display: none; } }

.blog-article {
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .blog-article {
      height: 16.5em;
      margin-top: 2em; } }
  .blog-article .blog-date {
    text-transform: uppercase; }
  .blog-article .blog-header {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: .5em 0; }
    .blog-article .blog-header .blog-heading {
      font-weight: bold; }
  .blog-article .blog-footer {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    padding: .3em 0;
    border-bottom: .1em solid black;
    transition: all .2s; }
    @media only screen and (max-width: 1023px) {
      .blog-article .blog-footer {
        position: static;
        display: inline-block;
        margin-top: .5em; } }
  .blog-article .content-short {
    width: 66%; }
    @media only screen and (max-width: 1023px) {
      .blog-article .content-short {
        width: 100%; } }

.contact {
  background: #F7F7F1; }
  .contact .contact-container {
    margin: 4em 0;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 1023px) {
      .contact .contact-container {
        -ms-flex-direction: column;
            flex-direction: column;
        text-align: center; } }
    .contact .contact-container .address-container {
      width: 30%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      @media only screen and (max-width: 1023px) {
        .contact .contact-container .address-container {
          width: 100%;
          -ms-flex-align: center;
              align-items: center; } }
      @media only screen and (max-width: 1023px) {
        .contact .contact-container .address-container .social-margin {
          margin: 4em auto; } }
      .contact .contact-container .address-container .data-container .contact-heading {
        text-transform: uppercase;
        font-size: 1.5em;
        font-style: normal;
        font-weight: bold; }
      .contact .contact-container .address-container .data-container .contact-data {
        line-height: 2.5; }
        .contact .contact-container .address-container .data-container .contact-data .contact-form {
          text-transform: uppercase;
          display: inline-block;
          padding: .01em;
          border-bottom: 1px solid black;
          line-height: 1.5; }
    .contact .contact-container .map-container {
      width: 70%;
      height: 29em; }
      @media only screen and (max-width: 1023px) {
        .contact .contact-container .map-container {
          width: 100%;
          height: 20em; } }

.site-footer {
  height: 20em;
  background: url("../pic/footer-pic.jpg");
  background-size: cover;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .site-footer .creator-data {
    display: block; }
    .site-footer .creator-data:nth-child(2) {
      margin: 2em 0 1em; }
